:root {
	--primary: #111923;
	--primary-dark: #111821;
	--background-light: #f5f7fa;
	--background-dark: #06182a;
	--background-secondary: #1d2027;
	--background-terciary: #101419;
	--text-dark: #111;
	--text-light: #fff;
	--border-light: #e2e8f0;
	--border-dark: #1e283a;
	--muted: #9dabb9;
	--panel-bg: #ffffff;
	--card-border: #d6dbe3;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: var(--background-dark);
	color: var(--text-light);
}

a {
	text-decoration: none;
	padding: 5px;
	color: var(--text-secondary);
}

main {
	max-width: 900px;
	margin: auto;
}

h3 {
	margin: 0px;
}

textarea {
	min-height: 120px;
}

input,
textarea {
	padding: 0.8rem;
	border-radius: 8px;
	border: 1px solid var(--border-dark);
	background: #0d1a2b;
	color: white;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: #137fec;
	box-shadow: 0 0 0 3px rgba(19, 127, 236, 0.15);
}
